:root {
    --black-color : #0B0C10;
    --gray-color: #1F2833;
    --lightgray-color: #C5C6C7;
    --lightblue-color: #66FCF1;
    --darkblue-color: #45A29E;
}
.content {

}
.cart {
    float:left;
    width: 975px;
}
.cart-info {
    border: 1px solid var(--lightblue-color);
    border-radius: 5px;
    padding: 15px;
    color: var(--lightgray-color);
}
.cart-detail-head {
    color: var(--lightgray-color);
    width: 100%;  
    max-width: 975px;
}
.cart-detail-body {
    margin: 50px 0;
    color: var(--lightgray-color);
}
.cart-detail-body:first-child {
    margin-top: 0;
}
.cart-detail-body:last-child {
    margin-bottom: 0;
}
.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px -15px;
    font-size: 15px;
}

.col-1 {
    width: 50%;
    padding: 0 15px;
}
.col-2 {
    width: 15%;
    padding: 0 15px;
}
.col-3 {
    width: 15%;
    padding: 0 15px;
}
.col-4 {
    width: 13%;
    padding: 0 15px;
}
.col-5 {
    width: 2%;
    float: right;
    padding: 0 15px;
}

.product-img {
    width: 150px;
    float: left;
    display: block;
    margin-right: 15px;
}
.product-name {
    text-align: left;
    font-size: 16px;
    color: var(--lightblue-color);
}
.product-status {
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
    color: var(--darkblue-color);
}
.product-status > .active {
    color: var(--lightgray-color);
}
.product-status > .unactive {
    color: var(--darkblue-color);
}
.product-price {
    font-size: 16px;
    letter-spacing: 0.25px;
}
.product-normal-price {
    text-decoration:line-through;
    color: var(--lightgray-color);
    display: inline;
    margin-right: 5px;
    font-size: 14px;
}
.sale-tag {
    text-decoration: none;
    color: var(--lightblue-color);
    font-size: 14px;
}
.product-quantity {
    height: 10px;
    line-height: 10px;
    display: inline-table;
}
.product-quantity > span {
    margin-right: 20px;
}
.product-quantity > .btn {
    font-size: 16px;
    padding: 5px 10px;
    background-color: var(--gray-color);
    color: var(--lightblue-color);
    border-color: var(--lightblue-color);
    transition: background-color 200ms;
}
.btn:hover {
    background-color: var(--lightblue-color);
    color: var(--gray-color);
}
.minus-quantity {
    border-top-left-radius: 15px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom-left-radius: 15px;
    border-bottom: 1px solid gray;
}
.add-quantity {
    border-top-right-radius: 15px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid gray;
}
#product-quantity {
    border: 1px solid var(--lightblue-color);
    color: var(--lightblue-color);
    background-color: var(--gray-color);
    padding: 8px 13px 6px;
    width: 15px;
}
.product-remove {
    font-size: 16px;
    color: var(--lightgray-color);
    background-color: var(--black-color);
}
.cart-payment {
    width: 100%;
    max-width: 975px;
    margin: 15px auto;
}
.cart-payment > .col-50 > .payment-block {
    margin: 10px 15px;
}
.payment-info > .payment-block {
    margin-left: 0 !important;
}
.payment-code {
    margin-bottom: 25px !important;
}
.payment-details > .payment-block {
    margin-right: 0 !important;
}
.payment-block {
    border: 1px solid var(--lightblue-color);
    /* padding: 0 15px; */
    border-radius: 5px;
}
.payment-block:first-child {
    margin-bottom: 30px;
}
.payment-head {
    padding: 5px 15px;
    background-color: var(--lightgray-color);
    height: 25px;
    line-height: 25px;
    border-top-left-radius: 3.5px;
    border-top-right-radius: 3.5px;
    color: var(--gray-color);
}
.payment-body {
    padding: 5px 15px;
    color: var(--lightblue-color);
}
.payment-body > hr {
    margin: 0;
}
.payment-foot {
    padding: 5px 15px 10px;
    color: var(--lightblue-color);
}
.discount-input {
    width: 100%;
    display: inline-table;
}
.discount-input > input {
    padding: 10px;
    width: 75%;
    border: 1px solid var(--lightblue-color);
    border-radius: 10px;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.discount-input > button {
    width: 15%;
    padding: 10px;
    display: inline;
    border: 1px solid var(--lightblue-color);
    background-color: var(--darkblue-color);
    color: var(--gray-color);
    border-radius: 10px;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: background-color 200ms;
}
.discount-input > button:hover {
    background-color: var(--lightblue-color);
}
.discount-list {
    margin-top: 15px;
}
.discount-item {
    margin: 5px 0;
}
.payment-method {
    margin-top: 15px;
}
.payment-method:first-child {
    margin-top: 5px;
}
.payment-method > img{
    width: 50px;
    display: block;
    float: left;
    margin-right: 15px;
}
.payment-method > p {
    height: 50px;
    line-height: 50px;
}
.payment-total-price {
    padding: 15px 0;
    border-bottom: 1px dashed var(--lightblue-color);
}
.payment-discount-price {
    padding: 15px 0;
    border-bottom: 1px dashed var(--lightblue-color);
}
.discount-uses > li {
    margin: 10px 0;
}
.discount-uses > li:first-child {
    margin-top: 0;
}
.discount-uses > li:last-child {
    margin-bottom: 0;
}
.payment-left {
    float: left;
}
.payment-right {
    padding-right: 5px;
    text-align: right;
}