:root {
  --black-color : #0B0C10;
  --gray-color: #1F2833;
  --lightgray-color: #C5C6C7;
  --lightblue-color: #66FCF1;
  --darkblue-color: #45A29E;
}
header {
  background-color: var(--gray-color);
  max-height: 75px;
  margin-bottom: 50px;
}
.header {
  padding: 25px 0 0;
  margin: 0 auto ;
  max-width: 975px;
}
.header a {
  color: var(--lightgray-color);
}

.header .logo {
  display: inline-block;
  width: 200px;
}

.header .logo .logo-img {
  /* width: 75px; */
}

.header .logo .logo-name {
  display: block;
  height: 75px;
  font-size: 20px;
}

.header .user {
  /* display:block; */
  float: right;
  /* height: 75px; */
  /* line-height: 75px; */
  font-size: 17px;
}

.header .user .user-account {
  position: relative;
  display: inline;
  margin: 0 10px;
  height: 50px;
  padding: 20px;
}
.header .user .user-account:hover > .user-methods {
  display: block;
}
.header .user .user-account span {
  margin-left: 5px;
}

.header .user .user-cart {
  padding: 20px 0;
  display: inline;
  position: relative;
}
.header .user .user-cart:hover > .cart-tab {
  display: block;
}

.cart-tab::after {
  position: absolute;
  top: -20px;
  right: 20px;
  content: "";
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
}
.cart-tab {
  display: none;
  z-index: 1;
  right: 0;
  top: 62px;
  position: absolute;
  width: 500px;
  background-color: var(--black-color);
  border-radius: 10px;
  border: 1px solid var(--lightblue-color);
  font-size: 15px;
}
#no-product {
  text-align: center;
}
.cart-item {
  line-height: 50px;
  display: block;
  margin: 0 10px;
  border-bottom: 1px solid var(--lightgray-color);
  color: var(--lightgray-color);
}
.cart-item span {
  height: 50px;
}
.cart-item > .item-name {
  white-space: nowrap;
  float: left; 
  width: 35%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.cart-item > .item-quantity {
  width: 25%;
  float: left;
}
.cart-item > .item-remove {
  background-color: var(--black-color);
  border: 1px var(--lightgray-color) solid;
  border-radius: 15px;
  color: var(--lightgray-color);
  padding: 5px;
  user-select: none;
}
.cart-item > .item-remove:hover {
  cursor: pointer;
}
.cart-table {
  float: left;
  margin: 20px;
  color: var(--lightgray-color);
}
.table-left {
  width: 70%;
  text-align: left;
  padding-left: 15px;
}
.table-right {
  max-width: 200px;
  padding: 0 15px;
}
.cart-props {
  text-align: center;
}
.col-50 {
  float: left;
  width: 50%;
}
.cart-props > div > div {
  margin: 0 10px 15px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: solid 1px black;
  border-radius: 10px;
  color: white;
}
#cart-details {
  border-color: var(--lightblue-color);
  background-color: var(--darkblue-color);
}
#cart-details > a {
  color: var(--black-color);
}
#cart-details:hover {
  font-weight: 800;
}
#cart-add-money {
  background-image: linear-gradient(to right, var(--darkblue-color), var(--lightblue-color));
  border-color: var(--lightblue-color);
}
#cart-add-money:hover {
  font-weight: 800;
}
#cart-add-money > a {
  color: var(--black-color);
}
.cart-details {
  text-align: center;
  height: 20px;
  margin-bottom: 15px;
}
.cart-details > a {
  color: var(--lightgray-color);
}
.header .user .user-cart > a{
  border: 1px var(--lightblue-color) solid;
  padding: 10px 10px;
  /* right: 30px; */
}

.header .user .user-cart span {
  margin-left: 5px;
}

.header .user .user-cart .cart-quantity {
  background-color: var(--lightblue-color);
  padding: 5px;
  border-radius: 15px;
  color: var(--gray-color);
}
.user-methods {
  z-index: 1;
  background-color: var(--black-color);
  border: var(--lightblue-color) 1px solid;
  position: absolute;
  left: -40px;
  top: 60px;
  display: none;
}
.user-methods::after {
  position: absolute;
  top: -20px;

  /* left: 50%; */
  right: 40%;
  content: "";
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--lightblue-color);
}
.user-methods > .method {
  text-align: center;
  width: 200px;
  line-height: 1px;
  padding: 10px;
}
.method > .btn {
  background-color: var(--gray-color);
  width: 175px;
  height: 45px;
  border-radius: 15px;
  cursor: pointer;
  color: var(--lightgray-color);
  border: 1px solid var(--lightblue-color);
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: var(--gray-color);
  background-color: rgba(255,255,255,0.3); 
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: var(--gray-color);
  margin: 5% auto 0; 
  padding: 40px 25px 10px;
  /* padding-top: 40px; */
  border: 1px solid var(--lightblue-color);
  width: 50%; 
  color: var(--lightgray-color);
}

/* The Close Button */
.modal-close {
  color: var(--lightgray-color);
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 50px;
  font-weight: bold;
  transition: color 200ms;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--lightblue-color);
  text-decoration: none;
  cursor: pointer;
}
.modal-content-head {
  margin-top: 20px;
  width: 100%;
  display: block;
  float: left;
  margin: 15px 0;
}
.tabs {
  display: inline-table;
  height: 35px;
  float: right;
  width: 50%;
}
.tabs > button {
  display: inline-table;
  width: 50%;
  /* border: none; */
  height: 35px;
  cursor: pointer;
  background-color: var(--lightgray-color);
  color: var(--gray-color);
}
.tab-active {
  border-bottom: 3px solid var(--lightblue-color);
}
.modal-content-body {
  width: 100%;
  min-height: 450px;
}
.tab-body-right > form {
  position: relative;
  width: 100%;
  height: 100%;
}
#login-tab {
  display: none;
}
#reg-tab {
  display: none;
}
.input-box {
  position: relative;
  color: var(--lightgray-color);
}
.input-box > i {
  position: absolute;
  top: 5px;
  left: 10px;
}
.input-box > input {
  padding: 2px 30px;
  height: 20px;
  width: 250px 
}
.tab-body-right > form > a {
  display: block;
  padding: 15px 0;
  color: var(--lightblue-color);
}
.tab-body-right > form > input[type ='submit'] {
  width: 50%;
  padding: 10px;
  display: block;
  margin: 20px auto 0;
  border: none;
  border-radius: 15px;
  color: var(--gray-color);
  background-color: var(--lightblue-color);
}
.vertical {
  border-left: 0.5px solid var(--lightblue-color);
  height: 100%;
  position:absolute;
  top: 0;
  left: 46%;
}