:root {
    --black-color : #0B0C10;
    --gray-color: #1F2833;
    --lightgray-color: #C5C6C7;
    --lightblue-color: #66FCF1;
    --darkblue-color: #45A29E;
}
.content {
    margin-top: 30px;
}
.product {
    height: 350px;
}
.product-details > .col-50 > div { 
    margin: 0 25px;
}
.product-details > .col-50:first-child {
    margin-left: 0 !important;
}
.product-details > .col-50:last-child {
    margin-right: 0 !important;
}
.product-detail {
    /* margin-left: 15px; */
}
.product-name {
    color: var(--lightgray-color);
    text-transform: uppercase;
    font-size: 35px;
}
.product-status {
    color: var(--lightgray-color);
    margin-bottom: 10px;
}
.product-prices {
    width: 100%;
}
.product-price {
    color: var(--lightblue-color);
    font-size: 26px;
}
.presale-price {
    color: var(--lightgray-color);
    text-decoration: line-through;
    font-size: 16px;
}
.tag-sale {
    background-color: var(--gray-color);
    opacity: 0.7;
    border-color: var(--lightblue-color);
    border-radius: 25px;
    font-size: 16px;
}
.product-quantity {
    height: 25px;
    line-height: 25px;
    /* float: left; */
    display: inline-table;
}
.product-quantity > span {
    margin-right: 20px;
    color: var(--lightgray-color);
}
.product-quantity > .btn {
    font-size: 16px;
    padding: 10px 15px;
    background-color: var(--gray-color);
    color: var(--lightblue-color);
    border-color: var(--lightblue-color);
    transition: background-color 200ms;
}
.btn:hover {
    background-color: var(--lightblue-color);
    color: var(--gray-color);
}
.minus-quantity {
    border-top-left-radius: 15px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom-left-radius: 15px;
    border-bottom: 1px solid gray;
}
.add-quantity {
    border-top-right-radius: 15px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid gray;
}
#product-quantity {
    border: 1px solid var(--lightblue-color);
    color: var(--lightblue-color);
    background-color: var(--gray-color);
    padding: 13px 15px 11px;
    width: 30px;
}
.buy-methods {
    margin-top: 20px;
}
.add-to-cart {
    width: 40%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid var(--lightblue-color);
    background-color: var(--gray-color);
    color: var(--lightblue-color);
    transition: color 200ms;
    transition: background-color 200ms;
}
.add-to-cart:hover {
    background-color: var(--lightblue-color);
    color:  var(--gray-color);
}
.buy-now {
    padding: 15px;
    width: 40%;
    border-radius: 15px;
    border: 1px solid var(--lightblue-color);
    background-color: var(--gray-color);
    color: var(--lightblue-color);
    transition: color 200ms;
    transition: background-color 200ms;
}
.buy-now:hover {
    background-color: var(--lightblue-color);
    color:  var(--gray-color);
}
.remind {
    padding: 15px 35px;
    display: block;
    margin: 15px auto;
    border-radius: 15px;
    border: 1px solid var(--lightblue-color);
    background-color: var(--gray-color);
    color: var(--lightblue-color);
    transition: color 200ms;
    transition: background-color 200ms;
}
.remind:hover {
    cursor: pointer;
    background-color: var(--lightblue-color);
    color:  var(--gray-color);
}
.slider {
    width: 100%;
}
.adver-img {
    display: inline;
    width: 80%;
}
/* .adver-images img { */
/* } */
.banner-btn {
    width: 10%;
    border: none;
    background-color: var(--black-color);
    margin-top: 15%;
    color: var(--lightgray-color);
}
.banner-btn-left {
    float: left;
}
.banner-btn-right {
    float: right;
}
.banner-event {
    margin-top: 10px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.slider-lib {
    max-width: 100%;
}
.slider-lib > div {
    margin: 0 15px;
}
.lib-img {
    width: 120%;
    cursor:pointer;
}