:root {
    --black-color : #0B0C10;
    --gray-color: #1F2833;
    --lightgray-color: #C5C6C7;
    --lightblue-color: #66FCF1;
    --darkblue-color: #45A29E;
}
.content {
    height: 50vh;
    padding-bottom: 50px;
}
.user-function {
    width: 25%;
    float: left;
}
.functions {
}
.function {
    background-color: var(--gray-color);
    padding: 15px;
    color: var(--lightgray-color);
}
.function:hover {
    cursor: pointer;
}
.function:first-child > .function-icon {
    margin-left: 15px;
}
.function-icon {
    float: left;
    text-align: center;
}
.function-title {
    margin-left: 55px;
    font-size: 12px;
}
.function-active {
    background-color: var(--lightgray-color);
    color: var(--gray-color);
}
.user-container {
    float: left;
    max-width: 730px;
    background-color: var(--lightgray-color);
    color: var(--gray-color);
}
.user-content {
    width: 700px;
    margin: 0 15px;
}
.content-heading {
    margin-top: 15px;
    font-size: 24px;
}
.content-body {
    margin: 15px 0;
    font-size: 15px;
}
#user-info {
    /* display: none; */
}
.user-info {
    line-height: 40px;
    margin-bottom: 20px;
}
.user-info > input {
    float: right;
    margin-right: 220px;
    width: 300px;
    height: 25px;
    padding: 3px 15px;
    border-radius: 5px;
    border: 1px solid var(--darkblue-color);
}
#edit-btn {
    padding: 15px 55px;
    display: block;
    margin: auto;
    background-color: var(--darkblue-color);
    border-radius: 15px;
    color: var(--gray-color);
    transition: color 200ms;
    transition: background-color 200ms;
}
#edit-btn:hover {
    cursor: pointer;
    background-color: var(--lightblue-color);
    color: var(--black-color);
}
#cart-info {
    display: none;
}
.cart-info-table tr th{
    border-color: var(--darkblue-color);
}
.cart-info-table tr td{
    border-color: var(--darkblue-color);
}
.cart-info-table thead > tr > th {
    padding: 10px 0;
}
.cart-info-table tr > td {
    max-width: 200px;
    padding: 10px;
    line-height: 1.5px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.detail-btn {
    padding: 10px;
    color: white;
    border-radius: 5px;
    color: var(--lightgray-color);
    background-color: var(--darkblue-color);
    transition: background-color 200ms;
    transition: color 200ms;
}
.detail-btn:hover {
    background-color: var(--lightblue-color);
    cursor: pointer;
    color: var(--black-color);
}
.info-msg {
    color: var(--gray-color);
    display: none;
    width: 100%;
    font-size: 20px;
}